@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

html {
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Gasoek One', sans-serif;
	background-color: #69b595;
}

#root {
	height: 100%;
}

ul,
li {
	list-style: none;
}
